header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12vmax;
    position: absolute;
    width: 100vw;
    z-index: 5;
    background-color: #000000af;
    height: 70px;
}

header>a {
    font-size: 2vw;
    text-decoration: none;
    color: #F33535;
    font-weight: 700;
    font-family: sans-serif;
}

header>a>span {
    color: #1565C0;
}

header>nav {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}

header>nav>a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #D8E9F0;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

header>nav>a:hover {
    text-decoration: underline;
}

@media (max-width:1140px) {
    header {
        padding: 0 6vmax;
    }

    header>a {
        font-size: 4vw;
    }

    header>nav>a {
        font-size: 2.4vw;
        color: #fff;
    }
}

@media (max-width:400px) {
    header {
        padding: 0 4vmax;
        height: 50px;
    }

    header>a {
        font-size: 4vw;
    }

    header>nav {
        gap: 3vw;
    }

    header>nav>a {
        font-size: 3.5vw;
        font-weight: 500;
    }


}