main {
    display: flex;
    justify-content: space-between;
    background-color: #33425B;
    padding: 0 0 0 4vw;
    height: fit-content;
    min-height: 100vh;
}

main>.left {
    height: 100%;
    width: 40vw;
    padding-top: 24vh;
}


main>.left>h1 {
    font-size: 4vw;
    color: #D8E9F0;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    line-height: 1.1;
}

main>.left>p {
    font-size: 1.2vw;
    color: #fff;
    font-family: sans-serif;
    font-weight: thin;
    margin: 6vh 0;
}

main>.left>div>button>a {
    color: #D8E9F0;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}


main>.right {
    background-color: #D8E9F0;
    height: 100%;
    width: 60vw;
    border-bottom-left-radius: 12vw;
    overflow: hidden;
    display: flex;
    padding-top: 30vh;
}


main>.right>img {
    width: 100%;
    object-fit: cover;
}


@media (max-width:1140px) {
    main {
        flex-direction: column;
        gap: 8vh;
        padding: 0 0;
    }

    main>.left {
        height: 55%;
        width: 100%;
        padding: 20vh 4vw 0 10vw;
    }

    main>.left>h1 {
        font-size: 6vw;
    }

    main>.left>p {
        font-size: 2.5vw;
        margin: 4vh 0;
    }

    main>.right {
        height: 45%;
        width: 100%;
        border-bottom-left-radius: 0;
        padding-top: 0vh;
    }
}

@media (max-width:770px) {
    main {
        flex-direction: column;
        justify-content: start;
        padding: 0 0;
        gap: 0;
    }

    main>.left {
        height: 62%;
        width: 100%;
        padding: 16vh 2vw 0 8vw;
    }

    main>.left>h1 {
        font-size: 8vw;
    }

    main>.left>p {
        font-size: 3vw;
        margin: 4vh 0;
    }

    main>.right {
        height: 38%;
        width: 100%;
        border-bottom-left-radius: 0;
        padding-top: 0vh;
        margin-top: 8vh;
    }
}